[program:inverter_queries]
command=python InverterQueries.py
stdout_logfile=./supervisord.log
stderr_logfile=./supervisord.log
logfile_maxbytes = 100MB
logfile_backups = 10
loglevel = info
environment = PYTHONUNBUFFERED=1

[supervisord]

[inet_http_server]         
port=127.0.0.1:9001

[supervisorctl]
serverurl=http://127.0.0.1:9001

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface